// Custom.scss
// Option A: Include all of Bootstrap
// Include any default variable overrides here (though functions won't be available)

//@import "../node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap";
//@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

:root{
  --testprop: 1.75rem; 
  --clr-bg: hsl(212 98% 37%);
  --clr-project: hsl(212 98% 37%);
  --clr-footer: hsl(212 98% 37%);
}

body {
  font-family: "Playfair Display", serif;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1rem;

  :hover {
    outline: none;
  }

  :active {
    transform: scale(0.98);
  }
}

.text-underline { //line under text
  display: block;
  width: 80px;
  height: 3px;
  background: #f1cd8f; //yet to decide
  margin: auto;
}

%align-text-vertically {  //aligns text within box vertically/horizonally
  display: flex;
  justify-content: center;
  align-items: center;
}

////////////////////////
/* Project Components */
////////////////////////

ul {
  margin-left: 40px;
}

.projectbox {
  //background-image:(''); //Add image for project
  background-color: aquamarine;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;

  @extend %align-text-vertically;

  &.projectViewed {
    border-left: 5px solid green;
  }

  &:hover {
    background-color: pink !important;
  }
}

.pDetailsContainer {
  background-color: rgb(224, 224, 224);
}

.projectDetailsBox {
  height: 400px;
  padding: 10px;
}

/*Nav Social Media  */
.nav-box {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: white;
}

.social-colour {
  &:hover {
    background-color: rgb(172, 172, 172);
    border-radius: 60%;
  }
}

/*****************************/
/*****************************/
/* About Me  */
/*****************************/
/*****************************/

.about-background {
  /*adds a gradient to background */
  background: linear-gradient(-25deg, #ff6a3d, #29d4ff, #11ff9c, #fd1b1b);
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
  height: 50vh;
  position: relative;
  z-index: 10;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

@keyframes gradient {
  /* animates gradient */
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 10% 50%;
  }
}

.about-intro {
  @extend %align-text-vertically;
}

.about-text-colour {
  color: #fff;
}


.about-bg-pattern{
  background-image: url(../Images/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: pink;
  // -webkit-transform: scaleX(-1); //flip image
  // transform: scaleX(-1); //flip image
}

.about-profile-img {
  height: 50%;
  width: 50%;
  // border-radius: 50% 15%;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px white solid;
  overflow: hidden;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.473);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}


/*****************************/
/****** Project Details ******/
/*****************************/

.textindent{
  text-indent: 5rem;
  
}

.test12{
  background-color: #e6e6e6;
}

.test-boxshadow{
  //box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



.pj-bg-box{
  background-color: rgb(235, 235, 235);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.game-post {
  background: #2980b9;
  background: -webkit-linear-gradient(to top, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to top, #ffffff, #6dd5fa, #2980b9);

  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.project-title{
  border-bottom: 1px solid black;
}

.project-bg-border{
  //background-color: pink;
  border-radius: 3px;
}

.test14{
  background-color: pink;
}

.project-inner-bg{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
}

.shadowtest{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.hr{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(80, 80, 80, 0.3);
}
.card-group.card-group-scroll > .card {
  flex-basis: 35%;
  cursor: grab;
}
@media (min-width: 576px) {
  .card-group.card-group-scroll {
      
      overflow-x: auto;
      flex-wrap: nowrap;
  }
}
// .row.display-flex {
//   display: flex;
//   flex-wrap: wrap;
// }
// .row.display-flex > [class*='col-'] {
//   display: flex;
//   flex-direction: column;
// }

.project-details{
  background: #C7E6F9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px
}

.test15{
  background-color: #eee;
}

.project-innerdetails{
  position: relative;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.project-about {
  min-height: 10%;
}

.testbg1{
  ///background-color: pink;
  background-color: #fff;
}

.project-desc{
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.project-img{
  width: 200px;
  height: 200px;
}

.title-underline {
  text-transform: uppercase;
  position: relative;

  &:after {
    content: ""; //psuedo-element doesn't work without this
    position: absolute;
    left:0;
    bottom:0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
}

.round-border{
  border:1px solid red;    
  height:10px;
  width:10px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  display: block;
}


.iframe-style {   /* iframe taskDetails */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: rgba(216, 216, 216, 0.952);
  padding: 40px;
  border-radius: 15px;
}

.avatar {
  position: absolute;
  width: 150px;
  height: 150px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  
  img {
    width: 100%;
    height: auto;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* clouds */

.background-wrap {
  inset: 0;
  z-index: -1;
  height: 20vh;
}

@keyframes animateCloud {
  0% {
    margin-left: -200px;
  }
  100% {
    margin-left: 100%;
  }
}

.cloud-1 {
  width: 150px;
  height: 150px;
  img {
    width: 100%;
    height: auto;
  }

  -webkit-animation: animateCloud 20s linear infinite;
  -moz-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;

  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

.cloud-2 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
