@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  //font-family: "Playfair Display", serif;
  font-family: "Rubik", sans-serif;
}

/*Global variables */
:root {
  //backgrounds
  --white-bg: rgb(255, 255, 255);

  //header
  --header-fa: rgb(172, 172, 172);

  //about
  --about-bg: rgb(232, 246, 255);

  //project

  //project details
  --p-details-bg: rgb(199, 230, 249);
  // --p-details-inner-bg

  //footer
  --clr-footer: hsl(212 98% 37%);
  --footer-fa: rgb(172, 172, 172);

  --opacity: .6;

  //box-shadows
  // --box-shadow: 
  // --bottom-shadow:
}

//variables
$btn-white: #fff;


h2,
h3 {
  font-weight: 350;
  font-size: 1.8rem;
}

.badge {
  font-weight: 500;
}

p {
  font-weight: 300;
}

.p-newline {
  white-space: break-spaces;
}

.btn {
  display: inline-block;
  background: #000;
  color: $btn-white;
  border: none;
  border-radius: 1px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1rem;
  transform: all 1.3s;

  &:hover {
    background: #cf2323;
    box-shadow: 3px 5px 5px #888888;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.2);
  }
}

//line under text
.text-underline {
  display: block;
  width: 80px;
  height: 3px;
  background: #f1cd8f;
  margin: auto;
}

//aligns text within box vertically/horizonally
%align-div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

////////////////////////////
/// 
//////////////////////////

.dialog {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 50%;
  height: 80%;
  background: #eee;
}

dialog::backdrop {
  background-color: salmon;
}

/*****************************/
/*****************************/
/*        PROJECTS           */
/*****************************/
/*****************************/

//Add visible line to showcase project has been selected
.projectViewed {
  border-radius: 3%;
  border-left: 5px solid#5b5b5b;
}

//project details
.project-img-height {
  height: auto;
  max-height: 400px;
}

.project-title {
  background-color: rgba(255, 255, 255, .7);
  border: 1px solid rgba(213, 213, 213, 0.7);
}

/*Nav Social Media  */
.nav-box {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: white;
}

//Project loading spinner

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  display: inline-block;
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--footer-fa);
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  border-color: #FF3D00;
  animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

/*****************************/
/*****************************/
/* About Me Landing Page*/
/*****************************/
/*****************************/

.lp-background {
  background-image: url('../../public/Images/bg2.jpg');
  background-size: cover;
  position: relative;
  z-index: 10;
  //box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  box-shadow: rgba(33, 35, 38, 0.5) 0px 10px 10px -10px;

  .lp-layer {
  /*adds a gradient to background */
    background: linear-gradient(-25deg, rgba(255, 106, 61, var(--opacity)), rgba(41, 212, 255, var(--opacity)), rgba(17, 255, 156, var(--opacity)), rgba(253, 27, 27, var(--opacity)));
    animation: gradient 10s ease infinite;
    background-size: 600% 600%;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  img {
    height: 60%;
    width: 60%;
    border-radius: 1% 30%;
    border: 1px white solid;
    overflow: hidden;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.473);
  }

  span {
    font-size: 2em;
  }

  button {
    size: 2rem;
  }

  p {
    color: #fff;
  }
}

@keyframes gradient {

  /* animates gradient */
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 10% 50%;
  }
}

/*****************************/
/*****************************/
/* About Me Page*/
/*****************************/
/*****************************/

.About {
  position: relative;
}

.about-bg-pattern {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--about-bg);

  // -webkit-transform: scaleX(-1); //flip image
  // transform: scaleX(-1); //flip image
}

//bottom
.about-custom-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  svg {
    position: relative;
    display: block;
    width: calc(206% + 1.3px);
    height: 100px;
  }

  .shape-fill {
    fill: var(--about-bg);

    filter: drop-shadow(-15px 4px 6px rgba(0, 0, 0, .1))
  }
}

/*****************************/
/*****************************/
/* About Me Details*/
/*****************************/
/*****************************/


/*****************************/
/****** Project Details & footer ******/
/*****************************/

.navbar {

  .logo {
    width: 80px;
    height: 80px;
  }

  .social-colour {
    &:hover {
      background-color: var(--header-fa);
    }
  }
}

footer {
  .social-colour {
    &:hover {
      background-color: var(--header-fa);
    }
  }

  .navbar,
  footer {
    .social-colour {
      border-radius: 5%;
    }
  }
}

//project details about
#taskDetails ol {

  padding-left: 1rem;

  li {
    list-style-type: none;
    line-height: 1rem;


    :not(.first) {

      h3,
      h4,
      p {
        display: inline;
        vertical-align: top;
        line-height: 1.8rem;
      }
    }
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  h4 {
    font-size: 1.3rem;
    font-weight: 330;
  }
}


//project details sidebar (team/audience)
.p-details {
  background: var(--p-details-bg);
  // background-image: url('../../public/Images/tilepattern.png');
  background-image: url('../../public/Images/bg.jpg');
  background-size: 100% 100%;
  //box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);

  // background-size: 800% 800%;
  // background-repeat: repeat;

  // background-color: #0EFFFB;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='60%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230EFFFB'/%3E%3Cstop offset='1' stop-color='%232C9799'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2393FFEC' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%2393FFEC' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%2339FFF6' stroke-width='2' stroke-miterlimit='10' stroke-opacity='.5'%3E%3Ccircle cx='500' cy='500' r='725'/%3E%3Ccircle cx='500' cy='500' r='700'/%3E%3Ccircle cx='500' cy='500' r='675'/%3E%3Ccircle cx='500' cy='500' r='650'/%3E%3Ccircle cx='500' cy='500' r='625'/%3E%3Ccircle cx='500' cy='500' r='600'/%3E%3Ccircle cx='500' cy='500' r='575'/%3E%3Ccircle cx='500' cy='500' r='550'/%3E%3Ccircle cx='500' cy='500' r='525'/%3E%3Ccircle cx='500' cy='500' r='500'/%3E%3Ccircle cx='500' cy='500' r='475'/%3E%3Ccircle cx='500' cy='500' r='450'/%3E%3Ccircle cx='500' cy='500' r='425'/%3E%3Ccircle cx='500' cy='500' r='400'/%3E%3Ccircle cx='500' cy='500' r='375'/%3E%3Ccircle cx='500' cy='500' r='350'/%3E%3Ccircle cx='500' cy='500' r='325'/%3E%3Ccircle cx='500' cy='500' r='300'/%3E%3Ccircle cx='500' cy='500' r='275'/%3E%3Ccircle cx='500' cy='500' r='250'/%3E%3Ccircle cx='500' cy='500' r='225'/%3E%3Ccircle cx='500' cy='500' r='200'/%3E%3Ccircle cx='500' cy='500' r='175'/%3E%3Ccircle cx='500' cy='500' r='150'/%3E%3Ccircle cx='500' cy='500' r='125'/%3E%3Ccircle cx='500' cy='500' r='100'/%3E%3Ccircle cx='500' cy='500' r='75'/%3E%3Ccircle cx='500' cy='500' r='50'/%3E%3Ccircle cx='500' cy='500' r='25'/%3E%3C/g%3E%3Crect fill-opacity='.5' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
  // background-attachment: fixed;
  // background-size: cover;

  // background-color: #2EDADD;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232EDADD'/%3E%3Cstop offset='1' stop-color='%23134444'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='60%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233EF9FF' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%233EF9FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%232AF5FF' stroke-width='1' stroke-miterlimit='10' stroke-opacity='.3'%3E%3Crect x='12.5' y='12.5' width='975' height='975'/%3E%3Crect x='25' y='25' width='950' height='950'/%3E%3Crect x='37.5' y='37.5' width='925' height='925'/%3E%3Crect x='50' y='50' width='900' height='900'/%3E%3Crect x='62.5' y='62.5' width='875' height='875'/%3E%3Crect x='75' y='75' width='850' height='850'/%3E%3Crect x='87.5' y='87.5' width='825' height='825'/%3E%3Crect x='100' y='100' width='800' height='800'/%3E%3Crect x='112.5' y='112.5' width='775' height='775'/%3E%3Crect x='125' y='125' width='750' height='750'/%3E%3Crect x='137.5' y='137.5' width='725' height='725'/%3E%3Crect x='150' y='150' width='700' height='700'/%3E%3Crect x='162.5' y='162.5' width='675' height='675'/%3E%3Crect x='175' y='175' width='650' height='650'/%3E%3Crect x='187.5' y='187.5' width='625' height='625'/%3E%3Crect x='200' y='200' width='600' height='600'/%3E%3Crect x='212.5' y='212.5' width='575' height='575'/%3E%3Crect x='225' y='225' width='550' height='550'/%3E%3Crect x='237.5' y='237.5' width='525' height='525'/%3E%3Crect x='250' y='250' width='500' height='500'/%3E%3Crect x='262.5' y='262.5' width='475' height='475'/%3E%3Crect x='275' y='275' width='450' height='450'/%3E%3Crect x='287.5' y='287.5' width='425' height='425'/%3E%3Crect x='300' y='300' width='400' height='400'/%3E%3Crect x='312.5' y='312.5' width='375' height='375'/%3E%3Crect x='325' y='325' width='350' height='350'/%3E%3Crect x='337.5' y='337.5' width='325' height='325'/%3E%3Crect x='350' y='350' width='300' height='300'/%3E%3Crect x='362.5' y='362.5' width='275' height='275'/%3E%3Crect x='375' y='375' width='250' height='250'/%3E%3Crect x='387.5' y='387.5' width='225' height='225'/%3E%3Crect x='400' y='400' width='200' height='200'/%3E%3Crect x='412.5' y='412.5' width='175' height='175'/%3E%3Crect x='425' y='425' width='150' height='150'/%3E%3Crect x='437.5' y='437.5' width='125' height='125'/%3E%3Crect x='450' y='450' width='100' height='100'/%3E%3Crect x='462.5' y='462.5' width='75' height='75'/%3E%3Crect x='475' y='475' width='50' height='50'/%3E%3Crect x='487.5' y='487.5' width='25' height='25'/%3E%3C/g%3E%3Crect fill-opacity='.3' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
  // background-attachment: fixed;
  // background-size: cover;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  .social-colour {
    display: inline-block;

    &:hover {
      background-color: var(--footer-fa);
      border-radius: 5%;
    }
  }

  .p-layer {
    background-color: rgba(199, 230, 249, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  h2 {
    font-weight: 400;
  }

  h3 {
    font-weight: 350;
    font-size: 1.3rem;
  }
}

.p-details-bg {
  background-color: #eee;
}

.p-details-source-bg {
  background-color: #3a3a3a;
  color: #fff;
}

.project-innerdetails {
  position: relative;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.p-details-side-bg {
  background-color: #fff;

  .bg-light {
    background-color: rgb(225, 225, 225) !important;
  }
}

.p-details-text-bg {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--white-bg);
}

.hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(80, 80, 80, 0.3);
}

.title-underline {
  text-transform: uppercase;
  position: relative;

  &:after {
    content: ""; //psuedo-element doesn't work without this
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
}



#taskDetails {
  //scroll-margin-top: calc(3rem + 10px); //check the padding for TaskDetails and other divs and make it a global var
  scroll-margin-top: 5rem;
  position: relative;
}

.gameScroll {
  scroll-margin-top: 6rem;
}


/* iframe taskDetails -> Unity Game */
.iframe-style {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: rgba(216, 216, 216, 0.952);
  padding: 40px;
  border-radius: 15px;
}

.hidden {
  opacity: 0;
  filter: blur(2x);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

@media (prefers-reduced-motion) {

  /* styles to apply if a user's device settings are set to reduced motion */
  .hidden {
    transition: none;
  }
}



/*****************************/
/*********** clouds **********/
/*****************************/

.game-post {
  background: #2980b9;
  background: -webkit-linear-gradient(to top, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to top, #ffffff, #6dd5fa, #2980b9);

  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.cloud-img {
  background-repeat: repeat-y;
  background-image: url("../../public/Images/cloud-1.png");
  width: 200px;
}

.background-wrap {

  inset: 0;
  z-index: -1;
  height: 20vh;
}

@keyframes animateCloud {
  0% {
    margin-left: -200px;
  }

  100% {
    margin-left: 100%;
  }
}

.cloud-1 {
  width: 150px;
  height: 150px;

  img {
    width: 100%;
    height: auto;
  }

  -webkit-animation: animateCloud 20s linear infinite;
  -moz-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;

  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

.cloud-5 {
  top: random(100) + px;
  position: absolute;
}


@function random-position() {
  @return random(100);
}

$value: random-position();

.cloud-test {
  z-index: 2;
  height: 200px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  -webkit-animation: animateCloud #{$value}s linear infinite;
  -moz-animation: animateCloud #{$value}s linear infinite;
  animation: animateCloud #{$value}s linear infinite;

  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}


.cloud-2 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

/*****************************/
/********** GALLERY **********/
/*****************************/

.gallery {
  display: flex;
  padding: 2px;
  transition: .3s;

  &:hover &__image {
    filter: grayscale(1);
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  &__link {
    margin: 2px;
    overflow: hidden;

    &:hover {
      .gallery__image {
        filter: grayscale(0);
      }

      .gallery__caption {
        opacity: 1;
      }
    }
  }

  &__thumb {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    transition: .3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: .3s;
  }
}




//Responsive smaller device
@media only screen and (max-width: 600px) {}

@include media-breakpoint-down(sm) {

  //testing LANDING PAGE swapping so other col is top for mobile
  .order-0 {
    order: 1 !important;
  }

  .order-1 {
    order: 0 !important;
  }
}

@include media-breakpoint-down(md) {
  nav {
    li {
      padding-left: 10px;
    }
  }
}

@include media-breakpoint-up(md) {}