// Custom.scss
// Option A: Include all of Bootstrap
// Include any default variable overrides here (though functions won't be available)

//@import "../node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap";
//@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  //font-family: "Playfair Display", serif;
  font-family: "Rubik", sans-serif;
}

/*Global variables */
:root {
  //backgrounds
  --white-bg: rgb(255, 255, 255);

  //header
  --header-fa: rgb(172, 172, 172);

  //about
  --about-bg: rgb(208, 240, 255);

  //project

  //project details
  --p-details-bg: rgb(199, 230, 249);
  // --p-details-inner-bg

  //footer
  --clr-footer: hsl(212 98% 37%);
  --footer-fa: rgb(172, 172, 172);

  //box-shadows
  // --box-shadow: 
  // --bottom-shadow:
}

//variables
$btn-white: #fff;


h2, h3 {
  font-weight: 350;
  font-size: 1.8rem;
}

.badge{
  font-weight: 500;
}

p{
  font-weight: 300;
}



.btn {
  display: inline-block;
  background: #000;
  color: $btn-white;
  border: none;
  border-radius: 1px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1rem;
  transform: all 1.3s;

  &:hover {
    background: #cf2323;
    box-shadow: 3px 5px 5px #888888;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.2);
  }
}

//line under text
.text-underline {
  display: block;
  width: 80px;
  height: 3px;
  background: #f1cd8f;
  margin: auto;
}

//aligns text within box vertically/horizonally
%align-div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

////////////////////////////
/// 
//////////////////////////

.dialog {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 50%;
  height: 80%;
  background: #eee;
}

dialog::backdrop {
  background-color: salmon;
}

/*****************************/
/*****************************/
/*        PROJECTS           */
/*****************************/
/*****************************/

//Add visible line to showcase project has been selected
.projectViewed {
  border-radius: 3%;
  border-left: 5px solid#5b5b5b;
}

//project details
.project-img-height {
  height: auto;
  max-height: 400px;
}

/*Nav Social Media  */
.nav-box {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: white;
}

/*****************************/
/*****************************/
/* About Me Landing Page*/
/*****************************/
/*****************************/

.about-background {
  /*adds a gradient to background */
  background: linear-gradient(-25deg, #ff6a3d, #29d4ff, #11ff9c, #fd1b1b);
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
  position: relative;
  z-index: 10;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

  img {
    height: 60%;
    width: 60%;
    border-radius: 1% 30%;
    border: 1px white solid;
    overflow: hidden;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.473);
  }

  span {
    font-size: 2em;
  }

  button {
    size: 2rem;
  }

  p {
    color: #fff;
  }
}

@keyframes gradient {

  /* animates gradient */
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 10% 50%;
  }
}

/*****************************/
/*****************************/
/* About Me Page*/
/*****************************/
/*****************************/

.About {
  position: relative;
}

.about-bg-pattern {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--about-bg);
  // -webkit-transform: scaleX(-1); //flip image
  // transform: scaleX(-1); //flip image
}

//bottom
.about-custom-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  svg {
    position: relative;
    display: block;
    width: calc(206% + 1.3px);
    height: 100px;
  }

  .shape-fill {
    fill: var(--about-bg);
    filter: drop-shadow(-15px 4px 6px rgba(0, 0, 0, .1))
  }
}

/*****************************/
/*****************************/
/* About Me Details*/
/*****************************/
/*****************************/


/*****************************/
/****** Project Details & footer ******/
/*****************************/
.navbar,
footer {
  .social-colour {
    &:hover {
      background-color: var(--header-fa);
      border-radius: 5%;
    }
  }
}

//project details sidebar (team/audience)
.p-details {
  background: var(--p-details-bg);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  .social-colour {
    display: inline-block;

    &:hover {
      background-color: var(--footer-fa);
      border-radius: 5%;
    }
  }
}

.p-details-bg {
  background-color: #eee;
}

.p-details-source-bg {
  background-color: #3a3a3a;
  color: #fff;
}

.project-innerdetails {
  position: relative;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.p-details-side-bg {
  background-color: #eee;
}

.p-details-text-bg {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--white-bg);
}

.hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(80, 80, 80, 0.3);
}

.title-underline {
  text-transform: uppercase;
  position: relative;

  &:after {
    content: ""; //psuedo-element doesn't work without this
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #9e5656;
  }
}

/* iframe taskDetails -> Unity Game */
.iframe-style {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: rgba(216, 216, 216, 0.952);
  padding: 40px;
  border-radius: 15px;
}

/*****************************/
/*********** clouds **********/
/*****************************/

// .game-post { 
//   background: #2980b9;
//   background: -webkit-linear-gradient(to top, #ffffff, #6dd5fa, #2980b9);
//   background: linear-gradient(to top, #ffffff, #6dd5fa, #2980b9);

//   margin: 0;
//   padding: 0;
//   overflow: hidden;
//   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
// }

.background-wrap {
  inset: 0;
  z-index: -1;
  height: 20vh;
}

@keyframes animateCloud {
  0% {
    margin-left: -200px;
  }

  100% {
    margin-left: 100%;
  }
}

.cloud-1 {
  width: 150px;
  height: 150px;

  img {
    width: 100%;
    height: auto;
  }

  -webkit-animation: animateCloud 20s linear infinite;
  -moz-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;

  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

.cloud-2 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

/*****************************/
/********** GALLERY **********/
/*****************************/

.gallery {
  display: flex;
  padding: 2px;
  transition: .3s;

  &:hover &__image {
    filter: grayscale(1);
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  &__link {
    margin: 2px;
    overflow: hidden;

    &:hover {
      .gallery__image {
        filter: grayscale(0);
      }

      .gallery__caption {
        opacity: 1;
      }
    }
  }

  &__thumb {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    transition: .3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: .3s;
  }
}



//Responsive smaller device
@media only screen and (max-width: 600px) {

  //testing LANDING PAGE swapping so other col is top for mobile
  .order-0 {
    order: 1 !important;
  }

  .order-1 {
    order: 0 !important;
  }
}

;